#navbar {
  text-align: center;
}
.containerbottom {
  margin-top: 3rem;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.inputuser {
  margin-bottom: 1rem;
}
.inputpass {
  margin-bottom: 1rem;
}
